In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('spam.csv')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 108.9+ KB

In [5]:
# df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [6]:
df.rename(columns={'v1':'target','v2': 'text'},inplace=True)
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
# Missing Values
df.isnull().sum()

target    0
text      0
dtype: int64

In [8]:
#check for Duplicate Values
df.duplicated().sum()

403

In [9]:
#remove Duplicates
df=df.drop_duplicates(keep='first')

In [10]:
df['target'].value_counts()

ham     4516
spam     653
Name: target, dtype: int64

In [11]:
df['num_characters']=df['text'].apply(len)
df.head()

  target                                               text  num_characters
0    ham  Go until jurong point, crazy.. Available only ...             111
1    ham                      Ok lar... Joking wif u oni...              29
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...             155
3    ham  U dun say so early hor... U c already then say...              49
4    ham  Nah I don't think he goes to usf, he lives aro...              61

In [12]:
import nltk
# Fetch Number of Words
df['num_words']=df['text'].apply(lambda x:len(nltk.word_tokenize(x)))
df.head()

,target,text,num_characters,num_words
0,ham,"Go until jurong point, crazy.. Available only ...",111,24
1,ham,Ok lar... Joking wif u oni...,29,8
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37
3,ham,U dun say so early hor... U c already then say...,49,13
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15

In [13]:
df['num_sentences']=df['text'].apply(lambda x:len(nltk.sent_tokenize(x)))
df.head()

,target,text,num_characters,num_words,num_sentences
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2
1,ham,Ok lar... Joking wif u oni...,29,8,2
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2
3,ham,U dun say so early hor... U c already then say...,49,13,1
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1

In [14]:
from nltk.corpus import stopwords
import string
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

def transform_text(text):
    text=text.lower()
    text=nltk.word_tokenize(text)
    
    y=[]
    for i in text:
        if i.isalnum():
            y.append(i)
    
    text=y[:]
    y.clear()
    
    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)
    
    text=y[:]
    y.clear()
    
    for i in text:
        y.append(ps.stem(i))
    
        
    return " ".join(y)

In [15]:
df['transformed_text']=df['text'].apply(transform_text)
df.head()

,target,text,num_characters,num_words,num_sentences,transformed_text
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2,go jurong point crazi avail bugi n great world...
1,ham,Ok lar... Joking wif u oni...,29,8,2,ok lar joke wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2,free entri 2 wkli comp win fa cup final tkt 21...
3,ham,U dun say so early hor... U c already then say...,49,13,1,u dun say earli hor u c alreadi say
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1,nah think goe usf live around though

In [16]:
#nltk.download('averaged_perceptron_tagger')

In [17]:
from nltk.tokenize import word_tokenize
df['word_tokenize']=df['transformed_text'].apply(lambda x:nltk.word_tokenize(x))
df.head()

,target,text,num_characters,num_words,num_sentences,transformed_text,word_tokenize
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre..."
1,ham,Ok lar... Joking wif u oni...,29,8,2,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,49,13,1,u dun say earli hor u c alreadi say,"[u, dun, say, earli, hor, u, c, alreadi, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1,nah think goe usf live around though,"[nah, think, goe, usf, live, around, though]"

In [18]:
df['pos']=df['word_tokenize'].apply(lambda x:nltk.pos_tag(x))
df.head()

,target,text,num_characters,num_words,num_sentences,transformed_text,word_tokenize,pos
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre...","[(go, VB), (jurong, JJ), (point, NN), (crazi, ..."
1,ham,Ok lar... Joking wif u oni...,29,8,2,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]","[(ok, JJ), (lar, JJ), (joke, NN), (wif, NN), (..."
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin...","[(free, JJ), (entri, NN), (2, CD), (wkli, NN),..."
3,ham,U dun say so early hor... U c already then say...,49,13,1,u dun say earli hor u c alreadi say,"[u, dun, say, earli, hor, u, c, alreadi, say]","[(u, JJ), (dun, NNS), (say, VBP), (earli, JJ),..."
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1,nah think goe usf live around though,"[nah, think, goe, usf, live, around, though]","[(nah, RB), (think, VBP), (goe, JJ), (usf, JJ)..."

In [19]:
# df.drop(columns=['Unnamed: 0','Unnamed: 0.1'],inplace=True)
df.head()

,target,text,num_characters,num_words,num_sentences,transformed_text,word_tokenize,pos
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre...","[(go, VB), (jurong, JJ), (point, NN), (crazi, ..."
1,ham,Ok lar... Joking wif u oni...,29,8,2,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]","[(ok, JJ), (lar, JJ), (joke, NN), (wif, NN), (..."
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin...","[(free, JJ), (entri, NN), (2, CD), (wkli, NN),..."
3,ham,U dun say so early hor... U c already then say...,49,13,1,u dun say earli hor u c alreadi say,"[u, dun, say, earli, hor, u, c, alreadi, say]","[(u, JJ), (dun, NNS), (say, VBP), (earli, JJ),..."
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1,nah think goe usf live around though,"[nah, think, goe, usf, live, around, though]","[(nah, RB), (think, VBP), (goe, JJ), (usf, JJ)..."

In [20]:
df['verbs']=df['pos'].apply(lambda x:[word for word, tag in x if tag in ['VB','VBD','VBG','VBN','VBP','VBZ']])
df.head()

,target,text,num_characters,num_words,num_sentences,transformed_text,word_tokenize,pos,verbs
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre...","[(go, VB), (jurong, JJ), (point, NN), (crazi, ...","[go, e, got]"
1,ham,Ok lar... Joking wif u oni...,29,8,2,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]","[(ok, JJ), (lar, JJ), (joke, NN), (wif, NN), (...",[]
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin...","[(free, JJ), (entri, NN), (2, CD), (wkli, NN),...","[win, text, std, appli]"
3,ham,U dun say so early hor... U c already then say...,49,13,1,u dun say earli hor u c alreadi say,"[u, dun, say, earli, hor, u, c, alreadi, say]","[(u, JJ), (dun, NNS), (say, VBP), (earli, JJ),...","[say, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1,nah think goe usf live around though,"[nah, think, goe, usf, live, around, though]","[(nah, RB), (think, VBP), (goe, JJ), (usf, JJ)...","[think, live]"

In [21]:
df['adjectives']=df['pos'].apply(lambda x:[word for word, tag in x if tag in ['JJ','JJR','JJS']])
df.head()

,target,text,num_characters,num_words,num_sentences,transformed_text,word_tokenize,pos,verbs,adjectives
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre...","[(go, VB), (jurong, JJ), (point, NN), (crazi, ...","[go, e, got]","[jurong, great, buffet, amor]"
1,ham,Ok lar... Joking wif u oni...,29,8,2,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]","[(ok, JJ), (lar, JJ), (joke, NN), (wif, NN), (...",[],"[ok, lar, u]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin...","[(free, JJ), (entri, NN), (2, CD), (wkli, NN),...","[win, text, std, appli]","[free, fa, final, entri, txt]"
3,ham,U dun say so early hor... U c already then say...,49,13,1,u dun say earli hor u c alreadi say,"[u, dun, say, earli, hor, u, c, alreadi, say]","[(u, JJ), (dun, NNS), (say, VBP), (earli, JJ),...","[say, say]","[u, earli, u, c]"
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1,nah think goe usf live around though,"[nah, think, goe, usf, live, around, though]","[(nah, RB), (think, VBP), (goe, JJ), (usf, JJ)...","[think, live]","[goe, usf]"

In [22]:
df['nouns']=df['pos'].apply(lambda x:[word for word, tag in x if tag in ['NN','NNS','NNP','NNPS']])
df.head()

,target,text,num_characters,num_words,num_sentences,transformed_text,word_tokenize,pos,verbs,adjectives,nouns
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre...","[(go, VB), (jurong, JJ), (point, NN), (crazi, ...","[go, e, got]","[jurong, great, buffet, amor]","[point, crazi, avail, bugi, world, la, cine, wat]"
1,ham,Ok lar... Joking wif u oni...,29,8,2,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]","[(ok, JJ), (lar, JJ), (joke, NN), (wif, NN), (...",[],"[ok, lar, u]","[joke, wif, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin...","[(free, JJ), (entri, NN), (2, CD), (wkli, NN),...","[win, text, std, appli]","[free, fa, final, entri, txt]","[entri, wkli, comp, cup, tkt, fa, receiv, ques..."
3,ham,U dun say so early hor... U c already then say...,49,13,1,u dun say earli hor u c alreadi say,"[u, dun, say, earli, hor, u, c, alreadi, say]","[(u, JJ), (dun, NNS), (say, VBP), (earli, JJ),...","[say, say]","[u, earli, u, c]","[dun, hor, alreadi]"
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1,nah think goe usf live around though,"[nah, think, goe, usf, live, around, though]","[(nah, RB), (think, VBP), (goe, JJ), (usf, JJ)...","[think, live]","[goe, usf]",[]

In [23]:
# df.drop(columns=['nounss'],inplace=True)

In [24]:
df.head()

,target,text,num_characters,num_words,num_sentences,transformed_text,word_tokenize,pos,verbs,adjectives,nouns
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre...","[(go, VB), (jurong, JJ), (point, NN), (crazi, ...","[go, e, got]","[jurong, great, buffet, amor]","[point, crazi, avail, bugi, world, la, cine, wat]"
1,ham,Ok lar... Joking wif u oni...,29,8,2,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]","[(ok, JJ), (lar, JJ), (joke, NN), (wif, NN), (...",[],"[ok, lar, u]","[joke, wif, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin...","[(free, JJ), (entri, NN), (2, CD), (wkli, NN),...","[win, text, std, appli]","[free, fa, final, entri, txt]","[entri, wkli, comp, cup, tkt, fa, receiv, ques..."
3,ham,U dun say so early hor... U c already then say...,49,13,1,u dun say earli hor u c alreadi say,"[u, dun, say, earli, hor, u, c, alreadi, say]","[(u, JJ), (dun, NNS), (say, VBP), (earli, JJ),...","[say, say]","[u, earli, u, c]","[dun, hor, alreadi]"
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1,nah think goe usf live around though,"[nah, think, goe, usf, live, around, though]","[(nah, RB), (think, VBP), (goe, JJ), (usf, JJ)...","[think, live]","[goe, usf]",[]

In [25]:
# df.to_csv('NEWSPAM.csv')

In [26]:
 df.drop(columns=['text','num_characters','num_words','num_sentences','pos'],inplace=True)

In [27]:
df.head()

,target,transformed_text,word_tokenize,verbs,adjectives,nouns
0,ham,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre...","[go, e, got]","[jurong, great, buffet, amor]","[point, crazi, avail, bugi, world, la, cine, wat]"
1,ham,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]",[],"[ok, lar, u]","[joke, wif, oni]"
2,spam,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin...","[win, text, std, appli]","[free, fa, final, entri, txt]","[entri, wkli, comp, cup, tkt, fa, receiv, ques..."
3,ham,u dun say earli hor u c alreadi say,"[u, dun, say, earli, hor, u, c, alreadi, say]","[say, say]","[u, earli, u, c]","[dun, hor, alreadi]"
4,ham,nah think goe usf live around though,"[nah, think, goe, usf, live, around, though]","[think, live]","[goe, usf]",[]

In [28]:
df1=df.copy()
df1.head()

,target,transformed_text,word_tokenize,verbs,adjectives,nouns
0,ham,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre...","[go, e, got]","[jurong, great, buffet, amor]","[point, crazi, avail, bugi, world, la, cine, wat]"
1,ham,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]",[],"[ok, lar, u]","[joke, wif, oni]"
2,spam,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin...","[win, text, std, appli]","[free, fa, final, entri, txt]","[entri, wkli, comp, cup, tkt, fa, receiv, ques..."
3,ham,u dun say earli hor u c alreadi say,"[u, dun, say, earli, hor, u, c, alreadi, say]","[say, say]","[u, earli, u, c]","[dun, hor, alreadi]"
4,ham,nah think goe usf live around though,"[nah, think, goe, usf, live, around, though]","[think, live]","[goe, usf]",[]

In [29]:
df2=df.copy()
df2.head()

,target,transformed_text,word_tokenize,verbs,adjectives,nouns
0,ham,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre...","[go, e, got]","[jurong, great, buffet, amor]","[point, crazi, avail, bugi, world, la, cine, wat]"
1,ham,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]",[],"[ok, lar, u]","[joke, wif, oni]"
2,spam,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin...","[win, text, std, appli]","[free, fa, final, entri, txt]","[entri, wkli, comp, cup, tkt, fa, receiv, ques..."
3,ham,u dun say earli hor u c alreadi say,"[u, dun, say, earli, hor, u, c, alreadi, say]","[say, say]","[u, earli, u, c]","[dun, hor, alreadi]"
4,ham,nah think goe usf live around though,"[nah, think, goe, usf, live, around, though]","[think, live]","[goe, usf]",[]

In [30]:
df1=df.apply(lambda row: row[df['target'].isin(['ham'])])

In [31]:
df1=df1.groupby('target', as_index=False).agg({'target' : 'first', 'transformed_text'  : ' '.join})

In [32]:
from nltk.tokenize import word_tokenize
df1['word_tokenize']=df1['transformed_text'].apply(lambda x:nltk.word_tokenize(x))
df1.head()

,target,transformed_text,word_tokenize
0,ham,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre..."

In [34]:
df2=df.apply(lambda row: row[df['target'].isin(['spam'])])

In [35]:
df2=df2.groupby('target', as_index=False).agg({'target' : 'first', 'transformed_text'  : ' '.join})

In [36]:
from nltk.tokenize import word_tokenize
df2['word_tokenize']=df2['transformed_text'].apply(lambda x:nltk.word_tokenize(x))
df2.head()

,target,transformed_text,word_tokenize
0,spam,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin..."

In [38]:
hamspam=pd.concat([df1,df2],axis=0)

In [50]:
hamspam.head()

,target,transformed_text,word_tokenize
0,ham,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazi, avail, bugi, n, gre..."
0,spam,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entri, 2, wkli, comp, win, fa, cup, fin..."

In [51]:
hamspam.transpose()

,0,0
target,ham,spam
transformed_text,go jurong point crazi avail bugi n great world...,free entri 2 wkli comp win fa cup final tkt 21...
word_tokenize,"[go, jurong, point, crazi, avail, bugi, n, gre...","[free, entri, 2, wkli, comp, win, fa, cup, fin..."

In [42]:
hamspam.to_csv('HAM_SPAM.csv')